/*
 *  @(#) $Id: timer3m.cfg,v 1.0 2004/01/01 09:29:40 roi Exp $
 */

/*
 *  サンプルプログラム(モニタ)のシステムコンフィギュレーションファイル
 */

#define _MACRO_ONLY
#include "./timer3.h"

INCLUDE("\"timer3.h\"");
CRE_TSK(ENTRY_TASK, { TA_HLNG, 0, entry_task, DEFAULT_MAIN_PRIORITY,
						STACK_SIZE, NULL});
CRE_TSK(TIMER_TASK, { TA_HLNG, (VP_INT) 0, timer_task, TIMER_PRIORITY, STACK_SIZE, NULL });

/* フラグの定義 */
CRE_FLG(EVT_FLGID, {(TA_TFIFO|TA_WSGL), 0});

#ifdef CPUEXC1
DEF_EXC(CPUEXC1, { TA_HLNG, cpuexc_handler} );
#endif /* CPUEXC1 */

/* イレギュラー割込みの設定 */
DEF_INH(INT_IRG, { TA_HLNG, irregular_int_handler} );
DEF_EXC(EXC_IRG, { TA_HLNG, irregular_ext_handler} );

#include "../../monitor/monitor.cfg"
#include "../../systask/timer.cfg"
#include "../../systask/serial.cfg"
