/*
 *  @(#) $Id: mutex1.cfg,v 1.1 2004/01/10 22:10:40 roi Exp $
 */

/*
 *  サンプルプログラム(モニタ)のシステムコンフィギュレーションファイル
 */

#define _MACRO_ONLY
#include "./mutex1.h"

INCLUDE("\"mutex1.h\"");
CRE_TSK(ENTRY_TASK, { TA_HLNG, 0, entry_task, DEFAULT_MAIN_PRIORITY,
						STACK_SIZE, NULL});
CRE_TSK(DISPLAY_TASK, { TA_HLNG, (VP_INT) 0, display_task, DISPLAY_PRIORITY, STACK_SIZE, NULL });

#ifdef CPUEXC1
DEF_EXC(CPUEXC1, { TA_HLNG, cpuexc_handler} );
#endif /* CPUEXC1 */

/*
 * 排他制御用のセマフォの定義
 */
CRE_SEM(SEM_MUTEX1, { TA_TPRI, 1, 1 });

/* イレギュラー割込みの設定 */
DEF_INH(INT_IRG, { TA_HLNG, irregular_int_handler} );
DEF_EXC(EXC_IRG, { TA_HLNG, irregular_ext_handler} );

#include "../../monitor/monitor.cfg"
#include "../../systask/timer.cfg"
#include "../../systask/serial.cfg"
#include "../../systask/logtask.cfg"
