/*
 *  @(#) $Id: timer1m.cfg,v 1.1 2004/01/10 21:23:40 roi Exp $
 */

/*
 *  サンプルプログラム(モニタ)のシステムコンフィギュレーションファイル
 */

#define _MACRO_ONLY
#include "./timer1.h"

INCLUDE("\"timer1.h\"");
CRE_TSK(ENTRY_TASK, { TA_HLNG, 0, entry_task, DEFAULT_MAIN_PRIORITY,
						STACK_SIZE, NULL});
CRE_TSK(TIMER_TASK, { TA_HLNG, (VP_INT) 0, timer_task, TIMER_PRIORITY, STACK_SIZE, NULL });

#ifdef CPUEXC1
DEF_EXC(CPUEXC1, { TA_HLNG, cpuexc_handler} );
#endif /* CPUEXC1 */

/* イレギュラー割込みの設定 */
DEF_INH(INT_IRG, { TA_HLNG, irregular_int_handler} );
DEF_EXC(EXC_IRG, { TA_HLNG, irregular_ext_handler} );

#include "../../monitor/monitor.cfg"
#include "../../systask/timer.cfg"
#include "../../systask/serial.cfg"
